body{
    font-family:'segoe UI',tahoma,geneva,verdana,sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin-left: 23px;
    background-color: gray;
}

#header{
    text-align: center;
    font-size: 18px;
}
h1{
    font-size: 1.5em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom:1em; 

}

h2{
    font-size: 1.5em;
    padding-bottom: 1em;
}

main{
    display: grid;
    grid-template-columns:40% 60%;
    margin-top: 3em;
}

p{
    margin: .2em auto;
}

hr{
    border:none;
    background-color: lightgray;
    height:1px;
}

h1, h2{
    font-weight: 100;
    margin-bottom: 0;

}

#art-left{
    border-right: 1px solid lightgray;
    margin-right: 2em;
}